<p-floatlabel class="w-full">
  <p-iconfield>
    <p-inputNumber
      [id]="'inputNumber'+componentId"
      size="large"
      [formControl]="controlValue"
      [format]="decimalMask"
      [min]="0"
      currency="USD"
      [prefix]="prefix"
      [suffix]="suffix"
      (ngModelChange)="sendValue()"
      [class]="'w-full ' + classes"
      autocomplete="off"
    />
    <p-inputicon [class]="icon"/>
  </p-iconfield>
  <label [for]="'inputNumber'+componentId">{{label}}</label>
</p-floatlabel>
@if (classes !== '') {
  <small class="text-red-700">{{ errorMessage }}</small>
}