<section class="w-full h-fit px-4 pt-4 lg:px-40 lg:pt-20">
  <form class="py-8 w-full bg-section gap-10 flex flex-col items-center justify-center" [formGroup]="forgotPasswordForm">
    <h1 class="w-full text-center">¡Bienvenido de vuelta!</h1>

    <app-input-text
      class="w-1/2"
      [value]="forgotPasswordForm.value.username"
      label="Correo electronico"
      [classes]="(forgotPasswordForm.controls['username'].status === 'INVALID' && forgotPasswordForm.touched) || invalidUsername ? 'ng-invalid ng-dirty' : ''"
      errorMessage="Correo electrónico inválido"
      (valueEvent)="receiveValue('username', $event)"
      formControlName="username"
      ngDefaultControl
    />

    <app-button
      [label]="emailSent ? timer.toString() : 'Enviar código'"
      icon="pi pi-envelope"
      [disabled]="emailSent || isWorking"
      (clickEvent)="validateUsername()"
    />
    @if(emailSent) {
      <p-message severity="success">Código enviado con éxito.</p-message>
    }
  
    <app-input-password
      class="w-1/2"
      [value]="forgotPasswordForm.value.password"
      label="Nueva contraseña"
      [classes]="forgotPasswordForm.controls['password'].status === 'INVALID' && forgotPasswordForm.touched ? 'ng-invalid ng-dirty' : ''"
      errorMessage="Contraseña inválida"
      [feedback]="true"
      [toggleMask]="true"
      (valueEvent)="receiveValue('password', $event)"
      formControlName="password"
      ngDefaultControl
    />
  
    <app-input-password
      class="w-1/2"
      [value]="forgotPasswordForm.value.confirmPassword"
      label="Confirmar contraseña"
      [classes]="forgotPasswordForm.controls['confirmPassword'].status === 'INVALID' && forgotPasswordForm.touched ? 'ng-invalid ng-dirty' : ''"
      errorMessage="Contraseña inválida o diferente"
      [feedback]="false"
      [toggleMask]="true"
      (valueEvent)="receiveValue('confirmPassword', $event)"
      formControlName="confirmPassword"
      ngDefaultControl
    />

    <div class="w-full flex flex-col items-center justify-center gap-4">
      <label for="otp-forgot-password">Código de único uso</label>
      <p-inputotp 
          [id]="'otp-forgot-password'"
          [length]="4"
          [integerOnly]="true"
          formControlName="code"
          size="large"
      />
      @if (forgotPasswordForm.controls['code'].status === 'INVALID' && forgotPasswordForm.touched) {
        <p-message severity="error">El código es obligatorio, verifique la carpeta de spam o de clic en reenviar.</p-message>
      }
    </div>
  
    <app-button
      label="Actualizar"
      [disabled]="isWorking"
      (clickEvent)="validateForm()"
    />

    @if(hasError) {
      <p-message severity="error">Error al reestablecer contraseña, por favor, verifique email y código de único uso.</p-message>
    }
  
    <a class="text-center" [routerLink]="['/security/login']">Iniciar sesión</a>
    <a class="text-center" [routerLink]="['/security/register']">Crear cuenta</a>
  </form>
</section>

<p-toast></p-toast>