
<p-floatlabel class="w-full">
  <p-select
    [inputId]="'inputSelect'+componentId"
    [id]="'inputSelect'+componentId"
    [options]="options"
    [formControl]="controlValue"
    size="large"
    [showClear]="showClear"
    [filter]="filter"
    filterBy="name"
    optionLabel="name"
    optionValue="value"
    styleClass="w-full"
    [class]="classes"
    (ngModelChange)="sendValue()"
  ></p-select>
  <label [for]="'inputSelect'+componentId">{{ label }}</label>
</p-floatlabel>
@if (classes !== '') {
  <small class="text-red-700">{{ errorMessage }}</small>
}