::ng-deep .p-menubar {
    border: none;
}

@media screen and (min-width: 960px) {
    ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
    ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon,
    ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon,
    ::ng-deep .p-menubar .p-menubar-button {
        color: var(--primary-color-text);
        font-size: 1.2rem;
    }
}

::ng-deep .p-menubar .p-menubar-button .p-icon-wrapper .p-icon {
    color: var(--primary-color-text);
}