<div class="card bg-primary w-full h-full flex justify-content-center">
    <p-menubar [model]="items" styleClass="w-auto h-full bg-primary border-none">
        <ng-template pTemplate="start">
            <div class="pr-6 flex align-items-center cursor-pointer" routerLink="/dashboard">
                <img src="../../../../assets/img/store.png" alt="store.png" height="40" class="mr-3"/>
                <p class="text-xl text-color">Sophie store</p>
            </div>
        </ng-template>
    </p-menubar>
</div>