<form  [formGroup]="loginForm">
  <div >
    <p >¡Bienvenido de vuelta!</p>
  </div>
  <div >
    <app-input-text
      [value]="loginForm.value.username"
      label="Correo electronico"
      [hasError]="loginForm.controls['username'].status === 'INVALID'"
      (valueEvent)="receiveValue('username', $event)"
      formControlName="username"
      ngDefaultControl
    ></app-input-text>
  </div>
  <div >
    <app-input-password
      [value]="loginForm.value.password"
      label="Contraseña"
      [hasError]="loginForm.controls['password'].status === 'INVALID'"
      [feedback]="true"
      [toggleMask]="true"
      (valueEvent)="receiveValue('password', $event)"
      formControlName="password"
      ngDefaultControl
    ></app-input-password>
  </div>
  <div >
    <div >
      <a >Olvide mi contraseña</a>
    </div>
    <div >
      <app-button
        [confirmClick]="true"
        label="Ingresar"
        (clickEvent)="validateForm()"
      ></app-button>
    </div>
    <div >
      <a  [routerLink]="['/security/register']">Crear cuenta</a>
    </div>
  </div>
  <div >
    <div ><p></p></div>
    <div >
      <app-button
        label="Ingresa con "
        [iconPos]="buttonIconPositionRight"
        icon="pi pi-google"
      ></app-button>
    </div>
    <div ><p></p></div>
  </div>
</form>
<p-toast></p-toast>
