<section class="w-full h-fit px-4 pt-4 flex flex-col gap-4 justify-center lg:flex-row lg:px-40 lg:pt-20">
    <form class="py-8 w-full bg-section gap-8 grow-0 lg:w-8/12" [formGroup]="subcategoryForm">
      <app-button 
        class="self-start"
        icon="pi pi-arrow-left"
        [rounded]="true"
        (clickEvent)="goBack()"
      />
        <h1 class="w-full text-center">{{ title }}</h1>
    
        @if(subcategoryForm.value.id != 0) {
          <app-input-number
            [value]="subcategoryForm.value.id"
            label="Id"
            [classes]="subcategoryForm.controls['id'].status === 'INVALID' ? 'ng-invalid ng-dirty' : ''"
            [isDisabled]="true"
            (valueEvent)="receiveValueNumber('id', $event)"
            formControlName="name"
            ngDefaultControl
          ></app-input-number>
        }
        
        <app-input-text
          [value]="subcategoryForm.value.name"
          label="Nombre"
          [classes]="subcategoryForm.controls['name'].status === 'INVALID' ? 'ng-invalid ng-dirty' : ''"
          (valueEvent)="receiveValueString('name', $event)"
          formControlName="name"
          ngDefaultControl
        />
    
        <app-input-select
          [options]="mappedCategories"
          [selectedOption]="subcategoryForm.value.categoryId"
          label="Tienda"
          [showClear]="true"
          [classes]="subcategoryForm.controls['categoryId'].status === 'INVALID' ? 'ng-invalid ng-dirty' : ''"
          (valueEvent)="receiveValueString('categoryId', $event)"
          formControlName="categoryId"
          ngDefaultControl
        />
    
        <app-button
          [label]="buttonLabel"
          [confirmClick]="true"
          (clickEvent)="validateForm()"
        />
    </form>
</section>