<div class="w-full px-4 py-4 flex flex-col items-center gap-4 lg:px-40">
    <h1 class="text-center !text-3xl !font-bold">Menu principal</h1>
    <section class="border-section">
        <h2 class="h2">Tiendas disponibles</h2>
        <app-carousel-home />
    </section>
    @if (role() === 'admin') {
        <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar tiendas</h2>
            <p class="w-full">En este apartado usted podra ver, crear, actualizar y eliminar las tiendas creadas.</p>
            <app-button 
                label="Gestionar tiendas"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/category')"
            />
            <app-button 
                label="Crear tienda"
                icon="pi pi-plus"
                (clickEvent)="redirectTo('/dashboard/category/form/0')"
            />
        </section>
        <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar categorias</h2>
            <p class="w-full">En este apartado usted podra ver, crear, actualizar y eliminar las categorias encontradas en sus tiendas.</p>
            <app-button 
                label="Ver categorias"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/subcategory')"
            />
            <app-button 
                label="Crear categoria"
                icon="pi pi-plus"
                (clickEvent)="redirectTo('/dashboard/subcategory/form/0')"
            />
        </section>
        <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar productos</h2>
            <p class="w-full">En este apartado usted podra ver, crear, actualizar y eliminar los productos encontrados en sus tiendas.</p>
            <app-button 
                label="Ver productos"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/product')"
            />
            <app-button 
                label="Crear producto"
                icon="pi pi-plus"
                (clickEvent)="redirectTo('/dashboard/product/form/0')"
            />
        </section>
        <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar tipos de pago</h2>
            <p class="w-full">En este apartado usted podra ver, crear, actualizar y eliminar los tipos de pago encontrados en sus tiendas.</p>
            <app-button 
                label="Gestionar tipos de pago"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/payment-type')"
            />
        </section>
        <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar compras</h2>
            <p class="w-full">En este apartado usted podra gestionar las compras realizadas en sus tiendas.</p>
            <app-button 
                label="Gestionar compras"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/purchase')"
            />
            <app-button 
                label="Ver reportes"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/purchase/report')"
            />
        </section>
        <!-- <section class="border-section px-4 flex flex-wrap justify-center items-center gap-4 md:justify-start">
            <h2 class="h2 w-full">Gestionar usuarios</h2>
            <p class="w-full">En este apartado usted podra ver, crear, actualizar y eliminar los usuarios localizados en su cuenta.</p>
            <app-button 
                label="Ver usuarios"
                icon="pi pi-list"
                (clickEvent)="redirectTo('/dashboard/user')"
            />
            <app-button 
                label="Crear usuario"
                icon="pi pi-plus"
                (clickEvent)="redirectTo('/dashboard/user/form')"
            />
        </section> -->
    }
</div>