<div class="w-full px-4 py-4 flex flex-col items-center gap-4 lg:px-40">
    <h1 class="text-center !text-3xl !font-bold">Menu principal</h1>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Tiendas creadas</h2>
        <app-carousel-home></app-carousel-home>
    </section>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Gestionar categorias</h2>
    </section>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Gestionar productos</h2>
    </section>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Gestionar tipos de pago</h2>
    </section>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Gestionar compras</h2>
    </section>
    <section class="border-section">
        <h2 class="!pl-4 !pb-4 text-2xl font-semibold">Gestionar usuarios</h2>
    </section>
</div>