<section class="w-full h-fit px-4 pt-4 flex flex-col gap-4 justify-center lg:flex-row lg:px-40 lg:pt-20">
    <form class="py-8 w-full bg-section gap-8 grow-0 lg:w-8/12" [formGroup]="categoryForm">
      <app-button 
        class="self-start"
        icon="pi pi-arrow-left"
        [rounded]="true"
        (clickEvent)="goBack()"
      />
        <h1 class="w-full text-center">{{ title }}</h1>
    
        @if (isLoading()) {
          <app-loading-form class="w-full" />
        } @else {
          @if(categoryForm.value.id != 0) {
            <app-input-number
              class="w-1/2"
              [value]="categoryForm.value.id"
              label="Id"
              [isDisabled]="true"
            ></app-input-number>
          }
          
          <app-input-text
            class="w-1/2"
            [value]="categoryForm.value.name"
            label="Nombre"
            [classes]="categoryForm.controls['name'].invalid && categoryForm.controls['name'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Nombre inválido"
            (valueEvent)="receiveValue('name', $event)"
            formControlName="name"
            ngDefaultControl
          />
      
          <app-input-text
            class="w-1/2"
            [value]="categoryForm.value.description"
            label="Descripción"
            [classes]="categoryForm.controls['description'].invalid && categoryForm.controls['description'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Descripción inválida"
            (valueEvent)="receiveValue('description', $event)"
            formControlName="description"
            ngDefaultControl
          />
  
          @if(viewInputFile) {
            <app-input-file 
              class="w-4/5"
              label="Imagen"
              [fileLimit]="1"
              [filesUploaded]="filesUploaded"
              (uploadFilesEvent)="uploadFiles($event)"
            />
          } @else {
            <app-button
              label="Actualizar imagen"
              icon="pi pi-image"
              (clickEvent)="setViewInputFile(true)"
            />
          }
      
          <app-button
            [label]="buttonLabel"
            [disabled]="isWorking()"
            (clickEvent)="validateForm()"
          />
          <p-toast [life]="10000" />
        }
    </form>
</section>