<div class="card flex justify-content-center w-full h-full">
  <span class="p-float-label w-full h-full">
    <p-multiSelect
      styleClass="w-full h-full"
      [options]="options"
      [formControl]="controlValue"
      optionLabel="name"
      optionValue="value"
      [filter]="filter"
      filterBy="name"
      filterMatchMode="contains"
      [selectionLimit]="selectionLimit"
      (ngModelChange)="sendValue()"
    ></p-multiSelect>
    <label for="ms-cities">Select Cities</label>
  </span>
</div>
