@if (isLoading()) {
  <app-loading-data-view />
} @else if(products().length === 0 && !isLoading()) {
  Esta tienda no tiene productos por el momento 😢
} @else {
  @if (viewDetail) {
    <app-product-detail 
      [cart]="cart" 
      [product]="selectedProduct" 
      [disableButtons]="isWorking()"
      (addToCartEvent)="addToCart($event)"
      (removeFromCartEvent)="removeFromCart($event)"
      (goCartEvent)="goCart()"
      (goBackCartEvent)="hideDetailProduct()"
    />
  } @else {
    <app-data-view
      class="w-full"
      [objects]="products()"
      [cart]="cart"
      [disableButtons]="isWorking()"
      (addToCartEvent)="addToCart($event)"
      (removeFromCartEvent)="removeFromCart($event)"
      (goCartEvent)="goCart()"
      (viewProductEvent)="viewProduct($event)"
    ></app-data-view>
  }
}
