@if (products) {
    <div >
        <section #filtersRef [@fadeInOut]="filtersState" class="">
            <app-filters-menu (displayFiltersEvent)="showHideFilters()" (priceFilterEvent)="applyPriceFilter($event)"
                (subcategoryFilterEvent)="applySubcategoryFilter($event)"></app-filters-menu>
        </section>
        <section #productsRef [@resize]="productsState" class="">
            <div >
                <div  (click)="showHideFilters()">
                    <p >Filtros</p>
                    <i class="pi pi-sliders-h"></i>
                </div>
                <div >
                    <app-input-group-text label="Buscar" (clickEvent)="applyFilter($event)" icon="pi pi-search"></app-input-group-text>
                </div>
                <div >
                    <i [routerLink]="['/dashboard/shoes/cart']" class="pi pi-shopping-cart"></i>
                </div>
            </div>
            <div >
                <div >
                    <i class="pi pi-map-marker"></i>
                    <p >Calle 11 # 12a-09</p>
                </div>
                <hr >
                <div >
                    <p >{{ products.length }} resultados</p>
                </div>
            </div>
            @if (products.length > 0) {
                <div >
                    <app-data-view [objects]="products" [isOffer]="false"></app-data-view>
                </div>
            } @else {
                <h1>No se encontraron resultados.</h1>
            }
        </section>
    </div>
}