@if (products) {
    <div class="">
        <section #filtersRef [@fadeInOut]="filtersState" class="py-2 pl-2">
            <app-filters-menu (displayFiltersEvent)="showHideFilters()" (priceFilterEvent)="applyPriceFilter($event)"
                (subcategoryFilterEvent)="applySubcategoryFilter($event)"></app-filters-menu>
        </section>
        <section #productsRef [@resize]="productsState" class="py-2 px-2">
            <div class="">
                <div class="" (click)="showHideFilters()">
                    <p class="">Filtros</p>
                    <i class="pi pi-sliders-h"></i>
                </div>
                <div class="">
                    <app-input-group-text label="Buscar" (clickEvent)="applyFilter($event)" icon="pi pi-search"></app-input-group-text>
                </div>
                <div class="">
                    <i [routerLink]="['/dashboard/shoes/cart']" class="pi pi-shopping-cart"></i>
                </div>
            </div>
            <div class="">
                <div class="">
                    <i class="pi pi-map-marker"></i>
                    <p class="">Calle 11 # 12a-09</p>
                </div>
                <hr class="">
                <div class="">
                    <p class="">{{ products.length }} resultados</p>
                </div>
            </div>
            @if (products.length > 0) {
                <div class="">
                    <app-data-view [objects]="products" [isOffer]="false"></app-data-view>
                </div>
            } @else {
                <h1>No se encontraron resultados.</h1>
            }
        </section>
    </div>
}