<app-button
    class="pl-4 md:pl-8 lg:pl-24"
    icon="pi pi-arrow-left"
    [rounded]="true"
    (clickEvent)="goBack()"
/>
<h1 class="text-center font-bold !py-4">Gestion de compras</h1>
<app-table
    [objects]="mappedPurchases"
    (deleteEvent)="deleteById($event)"
    (detailEvent)="viewDetail($event)"
/>

@if(isDetailSelected) {
    <h1 class="text-center font-bold !py-4">Compra con id {{ detailSelectedId }}</h1>
    <app-table
        [purchaseHasProduct]="true"
        [purchaseHasProductIndex]="detailSelectedIndex"
        [objects]="mappedPurchases"
    />
}