<div class="absolute bottom-0 left-0 w-full h-footer md:h-md-footer bg-primary grid grid-nogutter justify-content-center align-items-center">
    <div class="hidden sm:hidden md:flex md:col-4 md:h-full md:flex md:justify-content-center md:align-items-center">
        <img src="../../../../assets/img/store.png" height="40" class="mr-3"/>
        <p class="text-xl">Sophie store</p>
    </div>
    <div class="col-12 text-center max-h-full md:col-4 md:h-full md:flex md:flex-column md:justify-content-center md:align-items-center">
        <p class="m-2">Pagina creada por:</p>
        <a class="m-2" href="https://www.linkedin.com/in/jonatan-fernando-franco-cardenas-06b742251/" target="_blank">Jonatan Fernando Franco Cardenas</a>
        <p class="md:hidden m-2">@All Rights Reserved</p>
    </div>
    <div class="hidden col-12 text-center max-h-full md:col-4 md:h-full md:flex md:justify-content-center md:align-items-center">
        <p class="m-2">@All Rights Reserved</p>
    </div>
</div>