<section class="px-4 md:px-20">
    <p-accordion [value]="[]" [multiple]="true">
        @for (cart of carts; track cart.id) {
            <p-accordion-panel [value]="cart.categoryId">
                <p-accordion-header>
                    <section class="flex gap-4 items-center justify-start">
                        <i class="pi pi-shopping-cart"></i>
                        {{ cart.category?.name }}
                    </section>
                </p-accordion-header>
                <p-accordion-content>
                    <section class="w-full p-4 flex flex-wrap justify-between items-center gap-4">
                        <p class="w-full sm:w-4/6">
                            Tienes {{ cart.products.length }} productos 😊
                        </p>
                        <app-button 
                            class="w-full sm:w-auto"
                            label="Buscar más productos"
                            (clickEvent)="goToStore(cart.categoryId)"
                        />
                    </section>
                    @for (product of cart.products; track product.id) {
                        <div class="w-full p-4 flex flex-col md:flex-row justify-center md:justify-between items-center gap-8">
                            <img
                                class="rounded w-full"
                                [src]="product.product?.image ? 'data:' + product.product?.image?.extension + ';base64,' + product.product?.image?.content : '/assets/img/product.png'"
                                [alt]="product.product?.image?.name"
                                style="max-width: 100px"
                            />
                            <span class="w-1/4 text-center">{{ product.product?.name }}</span>
                            <span class="w-1/4 text-center">{{ '$ ' + product.subtotal }}</span>
                            <div class="flex justify-center items-center gap-4">
                                <app-button
                                    icon="pi pi-minus"
                                    [rounded]="true"
                                    [disabled]="product.quantity == 1"
                                    (clickEvent)="minusProductToCart(product)"
                                />
                                <span class="w-1/4 text-center">{{ product.quantity }}</span>
                                <app-button
                                    icon="pi pi-plus"
                                    [rounded]="true"
                                    [disabled]="product.product?.quantity == 0"
                                    (clickEvent)="plusProductToCart(product)"
                                />
                            </div>
                            <app-button 
                                label="Eliminar"
                                icon="pi pi-trash"
                                severity="danger"
                                (clickEvent)="deleteFromCart(product)"
                            />
                        </div>
                        <p-divider />
                    }
                </p-accordion-content>
            </p-accordion-panel>
        }
    </p-accordion>
</section>