<section class="flex flex-col items-start justify-center gap-8 px-4 md:px-8 lg:px-24">
    <app-button 
        icon="pi pi-arrow-left"
        [rounded]="true"
        (clickEvent)="goBack()"
    />
    <h1 class="w-full text-center font-bold">Gestion de tipos de pago</h1>
    <app-button 
        label="Crear"
        icon="pi pi-plus"
        (clickEvent)="goCreate()"
    />
    @if (isLoading) {
        <app-loading-table 
            class="w-full max-h-[calc(100vh-23rem)] overflow-y-auto overflow-x-hidden"
        />
    } @else {
        <app-table
            class="w-full max-h-[calc(100vh-23rem)] overflow-y-auto overflow-x-hidden"
            [objects]="mappedPaymentTypes()"
            [updateButton]="true"
            [deleteButton]="true"
            updateRedirectPath="payment-type/form"
            (deleteEvent)="deleteById($event)"
        />
    }
</section>