<section class="w-full h-fit px-4 pt-4 flex flex-col gap-4 justify-center lg:flex-row lg:px-40 lg:pt-20">
    <form class="py-8 w-full bg-section gap-8 grow-0 lg:w-8/12" [formGroup]="productForm">
      <app-button
        class="self-start"
        icon="pi pi-arrow-left"
        [rounded]="true"
        (clickEvent)="goBack()"
      />
        <h1 class="w-full text-center">{{ title }}</h1>
    
        @if (isLoading()) {
          <app-loading-form class="w-full" />
        } @else {
          @if(productForm.value.id != 0) {
            <app-input-number
              class="w-1/2"
              [value]="productForm.value.id"
              label="Id"
              [isDisabled]="true"
              formControlName="id"
              ngDefaultControl
            />
          }
          
          <app-input-text
            class="w-1/2"
            [value]="productForm.value.name"
            label="Nombre"
            [classes]="productForm.controls['name'].invalid && productForm.controls['name'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Nombre inválido"
            (valueEvent)="receiveValue('name', $event)"
            formControlName="name"
            ngDefaultControl
          />
          
          <app-input-text
            class="w-1/2"
            [value]="productForm.value.description"
            label="Descripción"
            [classes]="productForm.controls['description'].invalid && productForm.controls['description'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Descripción inválida"
            (valueEvent)="receiveValue('description', $event)"
            formControlName="description"
            ngDefaultControl
          />
  
          <app-input-number
            class="w-1/2"
            [value]="productForm.value.price"
            label="Precio"
            [classes]="productForm.controls['price'].invalid && productForm.controls['price'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Precio inválido"
            (valueEvent)="receiveValue('price', $event)"
            formControlName="price"
            ngDefaultControl
          />
  
          <app-input-number
            class="w-1/2"
            [value]="productForm.value.quantity"
            label="Cantidad"
            [classes]="productForm.controls['quantity'].invalid && productForm.controls['quantity'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Cantidad inválida"
            (valueEvent)="receiveValue('quantity', $event)"
            formControlName="quantity"
            ngDefaultControl
          />
  
          <app-input-number
            class="w-1/2"
            [value]="productForm.value.qualification"
            label="Calificación"
            [classes]="productForm.controls['qualification'].invalid && productForm.controls['qualification'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Calificación inválida"
            (valueEvent)="receiveValue('qualification', $event)"
            formControlName="qualification"
            ngDefaultControl
          />
      
          <app-input-select
            class="w-1/2"
            [options]="mappedSubcategories"
            [selectedOption]="productForm.value.subcategoryId"
            label="Categoria"
            [showClear]="true"
            [classes]="productForm.controls['subcategoryId'].invalid && productForm.controls['subcategoryId'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Categoria inválida"
            (valueEvent)="receiveValue('subcategoryId', $event)"
            formControlName="subcategoryId"
            ngDefaultControl
          />
  
          @if(viewInputFile) {
            <p-message severity="info">Recuerde que puede tener máximo 5 imagenes por producto.</p-message>
            <app-input-file 
              class="w-4/5"
              [fileLimit]="5"
              [filesUploaded]="product()?.images || []"
              (uploadFilesEvent)="uploadFiles($event)"
              (deleteFileEvent)="deleteFile($event)"
            />
          } @else {
            <app-button
              label="Actualizar imagen"
              icon="pi pi-image"
              [disabled]="isWorking()"
              (clickEvent)="setViewInputFile(true)"
            />
          }
  
          @if (hasUnexpectedError) {
            <p-message severity="error">Ha ocurrido un error inesperado, por favor, intentelo de nuevo más tarde.</p-message>
          } @else if (!isLoading && subcategories().length == 0) {
            <p-message severity="warn">Debe crear al menos 1 categoria para poder crear productos.</p-message>
          }
      
          <app-button
            [label]="buttonLabel"
            [disabled]="(!isLoading() && subcategories().length == 0) || isLoading() || isWorking()"
            (clickEvent)="validateForm()"
          />
        }
        
    </form>
    <p-toast [life]="10000" />
</section>