@if(objects) {
    <div class="card">
        <p-dataview #dv [value]="objects" [layout]="layout" [rows]="6" [rowsPerPageOptions]="[6, 12, 30, 60]" row [paginator]="true" emptyMessage="No se encontraron productos">
            <ng-template #header>
                <section class="flex flex-wrap justify-evenly md:items-center gap-8 md:gap-4 pt-4 px-12">
                    <app-input-text 
                        label="Buscar"
                        icon="pi pi-search"
                        (valueEvent)="receiveFilter($event)"
                    />
                    <app-input-select
                        label="Ordenar por"
                        [options]="sortOptions"
                        [selectedOption]="selectedSortOption"
                        (valueEvent)="receiveSort($event)"
                    />
                    <p-selectbutton [(ngModel)]="layout" [options]="layoutOptions" [allowEmpty]="false" class="md:ml-auto">
                        <ng-template #item let-item>
                            <i [class]="'pi ' + (item === 'list' ? 'pi-bars' : 'pi-table')"></i>
                        </ng-template>
                    </p-selectbutton>
                </section>
            </ng-template>
            <ng-template #list let-items>
                <p-divider />
                @for (item of items; track $index) {
                    <div class="flex flex-col sm:flex-row sm:items-center p-6 gap-4 px-12">
                        <div class="md:w-40 relative">
                            <img
                                class="block xl:block mx-auto rounded w-full"
                                [src]="item && item.images && item.images.length ? 'data:' + item.images[0].extension + ';base64,' + item.images[0].content : '/assets/img/product.png'"
                                [alt]="item && item.images && item.images.length ? item.images[0].name : '/assets/img/product.png'"
                            />
                            <p-tag
                                [value]="item.quantity + ' disponibles'"
                                [severity]="getSeverity(item)"
                                class="absolute"
                                [style.left.px]="4"
                                [style.top.px]="4"
                            />
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                                <div class="bg-surface-100 p-1" style="border-radius: 30px">
                                    <div
                                        class="bg-surface-0 flex items-center gap-2 justify-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                    >
                                        <span class="text-surface-900 font-medium text-sm">{{ item.qualification }}</span>
                                        <i class="pi pi-star-fill text-yellow-500"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col items-center gap-4">
                                <span class="text-xl font-semibold">{{ item.price | currency: 'USD' }}</span>
                                <app-button
                                    icon="pi pi-eye"
                                    label="Ver detalles"
                                    class="flex-auto md:flex-initial whitespace-nowrap"
                                    [disabled]="disableButtons"
                                    (clickEvent)="viewProduct(item)"
                                />
                                @if (cartHasProduct(item)) {
                                    <app-button
                                        icon="pi pi-cart-minus"
                                        label="Eliminar del carrito"
                                        severity="danger"
                                        [disabled]="item.quantity == 0 || disableButtons"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        (clickEvent)="removeFromCart(item)"
                                    ></app-button>
                                    <app-button
                                        icon="pi pi-shopping-cart"
                                        label="Ver carrito"
                                        [disabled]="item.quantity == 0 || disableButtons"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        (clickEvent)="goToCart()"
                                    ></app-button>
                                } @else {
                                    <app-button
                                        icon="pi pi-cart-plus"
                                        label="Agregar al carrito"
                                        [disabled]="item.quantity == 0 || disableButtons"
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        (clickEvent)="addToCart(item)"
                                    ></app-button>
                                    <a [href]="'https://wa.me/+573202778890?text=Hola!%20%0A%0AVi%20el%20producto%20' + item.name + '%2E%20%0A%0AQuiero%20realizar%20la%20compra%2E%20%28id%20' + item.id + '%29'" target="_blank">
                                        <app-button 
                                            icon="pi pi-shopping-cart"
                                            label="Comprar ahora"
                                            [disabled]="item.quantity == 0 || disableButtons"
                                            class="flex-auto md:flex-initial whitespace-nowrap"
                                        />
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                    <p-divider />
                }
            </ng-template>
            <ng-template #grid let-items>
                <div class="grid grid-cols-12 gap-4 px-12">
                    @for (item of items; track $index) {
                        <div class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-4 p-2">
                            <div class="p-6 border-section bg-section rounded flex flex-col">
                                <div class="flex justify-center rounded p-4">
                                    <div class="relative m-auto h-60">
                                        <img
                                            class="rounded max-h-60"
                                            [src]="item && item.images && item.images.length ? 'data:' + item.images[0].extension + ';base64,' + item.images[0].content : '/assets/img/product.png'"
                                            [alt]="item && item.images && item.images.length ? item.images[0].name : '/assets/img/product.png'"
                                            
                                        />
                                        <p-tag
                                            [value]="item.quantity + ' disponibles'"
                                            [severity]="getSeverity(item)"
                                            class="absolute"
                                            [style.left.px]="4"
                                            [style.top.px]="4"
                                        />
                                    </div>
                                </div>
                                <div class="pt-6">
                                    <div class="flex flex-row justify-between products-start gap-2">
                                        <div class="text-lg font-medium mt-1 line-clamp-1">{{ item.name }}</div>
                                        <div class="bg-surface-100 p-1" style="border-radius: 30px; height:100%">
                                            <div
                                                class="bg-surface-0 flex products-center gap-2 justify-center py-1 px-2"
                                                style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                            >
                                                <span class="text-surface-900 font-medium text-sm">{{ item.qualification }}</span>
                                                <i class="pi pi-star-fill text-yellow-500"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-center gap-6 mt-6">
                                        <span class="text-2xl font-semibold">{{ item.price | currency: 'USD' }}</span>
                                        <app-button
                                            icon="pi pi-eye"
                                            label="Ver detalles"
                                            class="flex-auto md:flex-initial whitespace-nowrap"
                                            [disabled]="disableButtons"
                                            (clickEvent)="viewProduct(item)"
                                        />
                                        @if (cartHasProduct(item)) {
                                            <app-button
                                                icon="pi pi-cart-minus"
                                                label="Eliminar del carrito"
                                                severity="danger"
                                                [disabled]="item.quantity == 0 || disableButtons"
                                                class="flex-auto md:flex-initial whitespace-nowrap"
                                                (clickEvent)="removeFromCart(item)"
                                            ></app-button>
                                            <app-button
                                                icon="pi pi-shopping-cart"
                                                label="Ver carrito"
                                                [disabled]="item.quantity == 0 || disableButtons"
                                                class="flex-auto md:flex-initial whitespace-nowrap"
                                                (clickEvent)="goToCart()"
                                            ></app-button>
                                        } @else {
                                            <app-button
                                                icon="pi pi-cart-plus"
                                                label="Agregar al carrito"
                                                [disabled]="item.quantity == 0 || disableButtons"
                                                class="flex-auto md:flex-initial whitespace-nowrap"
                                                (clickEvent)="addToCart(item)"
                                            ></app-button>
                                            <a [href]="'https://wa.me/+573202778890?text=Hola!%20%0A%0AVi%20el%20producto%20' + item.name + '%2E%20%0A%0AQuiero%20realizar%20la%20compra%2E%20%28id%20' + item.id + '%29'" target="_blank">
                                                <app-button 
                                                    icon="pi pi-shopping-cart"
                                                    label="Comprar ahora"
                                                    [disabled]="item.quantity == 0 || disableButtons"
                                                    class="flex-auto md:flex-initial whitespace-nowrap"
                                                />
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </ng-template>
        </p-dataview>
    </div>
}