<p-floatlabel class="w-full">
  <p-password
    [id]="'inputPassword'+componentId"
    size="large"
    appendTo="body"
    [pattern]="pattern"
    promptLabel=" "
    weakLabel="Constraseña debil"
    mediumLabel="Constraseña media"
    strongLabel="Contraseña fuerte"
    strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s])\S{12,24}$"
    (ngChange)="sendValue()"
    [toggleMask]="toggleMask"
    [feedback]="feedback"
    [formControl]="controlValue"
    styleClass="w-full"
    inputStyleClass="w-full"
    [class]="'w-full ' + classes"
  >
    @if (feedback) {
      <ng-template pTemplate="footer">
        <ul style="line-height: 1.5">
          @if (!isValidPassword) {
            <p >Condiciones</p>
          }
          @if (!hasNumber) {
            <li>Debe tener al menos 1 número</li>
          }
          @if (!hasSpecialChar) {
            <li>Debe tener al menos 1 carácter especial</li>
          }
          @if (!hasUppercase) {
            <li>Debe tener al menos 1 mayúscula</li>
          }
          @if (!hasLowercase) {
            <li>Debe tener al menos 1 minúscula</li>
          }
          @if (controlValue.value.length < 8 || controlValue.value.length > 24) {
            <li>Debe tener entre 8 y 24 caracteres de longitud</li>
          }
        </ul>
      </ng-template>
    }
  </p-password>
  <label [for]="'inputPassword'+componentId">{{ label }}</label>
</p-floatlabel>
@if (classes !== '') {
  <small class="text-red-700">{{ errorMessage }}</small>
}