<div class="card flex justify-content-center w-full h-full">
  <span class="p-float-label w-full h-full">
    <p-password
      [id]="'inputPassword'+componentId"
      styleClass="w-full h-full"
      inputStyleClass="w-full h-full"
      appendTo="body"
      [pattern]="pattern"
      promptLabel=" "
      weakLabel="Constraseña debil"
      mediumLabel="Constraseña media"
      strongLabel="Contraseña fuerte"
      strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\w\s])\S{12,24}$"
      (ngChange)="sendValue()"
      [toggleMask]="toggleMask"
      [feedback]="feedback"
      [formControl]="controlValue"
    >
      <ng-template *ngIf="feedback" pTemplate="footer">
        <p *ngIf="!isValidPassword" class="mt-2">Condiciones</p>
        <ul *ngIf="feedback" class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li *ngIf="!hasNumber">Debe tener al menos 1 número</li>
          <li *ngIf="!hasSpecialChar">Debe tener al menos 1 carácter especial</li>
          <li *ngIf="!hasUppercase">Debe tener al menos 1 mayúscula</li>
          <li *ngIf="!hasLowercase">Debe tener al menos 1 minúscula</li>
          <li *ngIf="controlValue.value.length < 8 || controlValue.value.length > 24">Debe tener entre 8 y 24 caracteres de longitud</li>
        </ul>
      </ng-template>
    </p-password>
    <label>{{ label }}</label>
  </span>
</div>
