<div >
    <div >
        <i  (click)="hideFiltersEvent()"></i>
    </div>
    <h3 >Filtros</h3>
    <h4><i class="pi pi-th-large"></i> Categorias</h4>
    <div >
        <h5  (click)="showCategory(0)"><i class="pi pi-chevron-right"></i> Calzado familiar</h5>
        <div #shoesRef  [@fadeInDown]="fadeInDown[0]">
            <h6  (click)="filterBySubcategory('Dama')">Dama</h6>
            <h6  (click)="filterBySubcategory('Caballero')">Caballero</h6>
            <h6  (click)="filterBySubcategory('Caballero')">Caballero</h6>
        </div>

        <h5  (click)="showCategory(1)"><i class="pi pi-chevron-right"></i> Lenceria de hogar</h5>
        <div #lingerieRef  [@fadeInDown]="fadeInDown[1]">
            <h6  (click)="filterBySubcategory('Sabanas')">Sabanas</h6>
            <h6  (click)="filterBySubcategory('Cobijas y colchones')">Cobijas y colchones</h6>
            <h6  (click)="filterBySubcategory('Cortinas')">Cortinas</h6>
            <h6  (click)="filterBySubcategory('Tapetes')">Tapetes</h6>
        </div>

        <h5  (click)="showCategory(2)"><i class="pi pi-chevron-right"></i> Ropa familiar</h5>
        <div #clothesRef class="pl-4" [@fadeInDown]="fadeInDown[2]">
            <h6  (click)="filterBySubcategory('Dama')">Dama</h6>
            <h6  (click)="filterBySubcategory('Caballero')">Caballero</h6>
            <h6  (click)="filterBySubcategory('Niños')">Niños</h6>
        </div>

        <h5  (click)="showCategory(3)"><i class="pi pi-chevron-right"></i> Accesorios y bisuteria</h5>
        <div #accesoriesRef class="pl-4" [@fadeInDown]="fadeInDown[3]">
            <h6  (click)="filterBySubcategory('Perfumeria')">Perfumeria</h6>
            <h6  (click)="filterBySubcategory('Joyas')">Joyas</h6>
            <h6  (click)="filterBySubcategory('Accesorios')">Accesorios</h6>
        </div>
    </div>
    <h4><i class="pi pi-dollar"></i> Precio</h4>
    <div >
        <app-input-number [value]="minPrice" label="min" prefix="$ " (valueEvent)="receiveValue($event, 'min'); validateCanFilter(); validateCanCleanFilter();"></app-input-number>
        <p >-</p>
        <app-input-number [value]="maxPrice" label="max" prefix="$ " (valueEvent)="receiveValue($event, 'max'); validateCanFilter(); validateCanCleanFilter();"></app-input-number>
    </div>
    <div >
        <app-button label="Limpiar" icon="pi pi-eraser" (clickEvent)="cleanFilters()" [disabled]="!canCleanFilter"></app-button>
        <app-button label="Aplicar" icon="pi pi-send" (clickEvent)="filterByRangePrice()" [loading]="isLoading" [disabled]="!canFilter"></app-button>
    </div>
</div>