<p-dataView #dv [value]="objects" [layout]="layout" [rows]="5" [rowsPerPageOptions]="[5, 10, 20, 40, 100]"
  [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder">
  <ng-template pTemplate="header">
    @if (isOffer) {
      <i class="pi pi-percentage">OFF</i>
    }
    <p-dropdown [options]="sortOptions" placeholder="Ordenar por precio" (onChange)="onSortChange($event)"></p-dropdown>
    <p-dropdown [options]="sortOptions" placeholder="Ordenar por precio" (onChange)="onSortChange($event)"></p-dropdown>
  </ng-template>
  <ng-template pTemplate="listItem">
    @for (object of objects; track object.id) {
      <img class="w-12" src="/assets/img/product.jpg" [alt]="object.name" />
      <p>{{ object.name }}</p>
      <p-tag [value]="object.quantity + ''" [severity]="getSeverity(object)"></p-tag>
      <i class="pi pi-tag"></i>
      <p>{{ object.subcategoryId }}</p>
      <app-input-rating [value]="object.qualification" [disabled]="true"></app-input-rating>
      <span>{{ "$" + object.price }}</span>
      <p-button icon="pi pi-shopping-cart" [disabled]="object.quantity == 0"></p-button>
    } @empty {
      <p>No se encontraron resultados</p>
    }
  </ng-template>
  <ng-template pTemplate="gridItem">
    @for (object of objects; track object.id) {
      <p-tag [value]="object.quantity + ''" [severity]="getSeverity(object)"></p-tag>
      <i class="pi pi-tag"></i>
      <span>{{
        object.subcategoryId
        }}</span>
      <img src="/assets/img/product.jpg" [alt]="object.name" />
      <p>{{ object.name }}</p>
      <app-input-rating [value]="object.qualification" [disabled]="true"></app-input-rating>
      <span>{{ "$" + object.price }}</span>
      <p-button icon="pi pi-shopping-cart" [disabled]="object.quantity == 0"></p-button>
    } @empty {
      <p>No hay resultados.</p>
    }
  </ng-template>
</p-dataView>