<div >
  <p-dataView
    #dv
    [value]="objects"
    [layout]="layout"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20, 40, 100]"
    [paginator]="true"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header" >
      <div >
        @if (isOffer) {
          <i class="pi pi-percentage">OFF</i>
        }
        <div >
          <p-dropdown
            [options]="sortOptions"
            placeholder="Ordenar por precio"
            (onChange)="onSortChange($event)"
          ></p-dropdown>
        </div>
      </div>
      <div
        
      >
        <p-dropdown
          [options]="sortOptions"
          placeholder="Ordenar por precio"
          (onChange)="onSortChange($event)"
        ></p-dropdown>
      </div>
    </ng-template>
    <ng-template pTemplate="listItem">
      @for (object of objects; track object.id) {
        <div
          
        >
          <div >
            <img class="w-12" src="assets/img/product.jpg" [alt]="object.name" />
          </div>
          <div
            
          >
            <p >{{ object.name }}</p>
            <div >
              <p-tag
                [value]="object.quantity + ''"
                [severity]="getSeverity(object)"
              ></p-tag>
              <i class="pi pi-tag"></i>
              <p >{{ object.subcategory.name }}</p>
            </div>
            <app-input-rating
              
              [value]="object.qualification"
              [disabled]="true"
            ></app-input-rating>
          </div>
          <div
            
          >
            <span >{{ "$" + object.price }}</span>
            <p-button
              icon="pi pi-shopping-cart"
              [disabled]="object.quantity == 0"
            ></p-button>
          </div>
        </div>
      } @empty {
        No se encontraron resultados
      }
    </ng-template>

    <ng-template pTemplate="gridItem">
      @for (object of objects; track object.id) {
        <div >
          <div >
            <div
              
            >
              <p-tag
                
                [value]="object.quantity + ''"
                [severity]="getSeverity(object)"
              ></p-tag>
              <i class="pi pi-tag"></i>
              <span >{{
                object.subcategory.name
              }}</span>
            </div>
            <div >
              <img
                
                src="assets/img/product.jpg"
                [alt]="object.name"
              />
              <div >{{ object.name }}</div>
              <app-input-rating
                
                [value]="object.qualification"
                [disabled]="true"
              ></app-input-rating>
              <span >{{ "$" + object.price }}</span>
              <p-button
                icon="pi pi-shopping-cart"
                [disabled]="object.quantity == 0"
              ></p-button>
            </div>
          </div>
        </div>
      } @empty {
        No hay resultados.
      }
    </ng-template>
  </p-dataView>
</div>
