<div >
  @if (!showIcon) {
    <span >
      <input
        [id]="'inputText'+componentId"
        pInputText
        class="w-full h-full"
        [formControl]="controlValue"
        (ngModelChange)="sendValue()"
      />
      <label>{{ label }}</label>
    </span>
  } @else {
    <span >
      <i [class]="icon"></i>
      <input
        id="inputText"
        pInputText
        
        [formControl]="controlValue"
        (ngModelChange)="sendValue()"
      />
      <label>{{ label }}</label>
    </span>
  }
</div>