<div class="card flex justify-content-center w-full h-full">
  <span class="p-float-label w-full h-full" *ngIf="!showIcon">
    <input
      pInputText
      class="w-full h-full"
      [formControl]="controlValue"
    />
    <label>{{ label }}</label>
  </span>
  <span class="p-float-label p-input-icon-left w-full h-full" *ngIf="showIcon">
    <i [class]="icon"></i>
    <input
      pInputText
      class="w-full h-full"
      [formControl]="controlValue"
      (ngModelChange)="sendValue()"
    />
    <label>{{ label }}</label>
  </span>
</div>