<form  [formGroup]="registerForm">
  <div >
    <p >¡Bienvenido de vuelta!</p>
  </div>
  <div >
    <app-input-text
      [value]="registerForm.value.name"
      label="Nombre"
      [hasError]="registerForm.controls['name'].status === 'INVALID'"
      (valueEvent)="receiveValue('name', $event)"
      formControlName="name"
      ngDefaultControl
    ></app-input-text>
  </div>
  <div >
    <app-input-text
      [value]="registerForm.value.lastName"
      label="Apellidos"
      [hasError]="registerForm.controls['lastName'].status === 'INVALID'"
      (valueEvent)="receiveValue('lastName', $event)"
      formControlName="lastName"
      ngDefaultControl
    ></app-input-text>
  </div>
  <div >
    <app-input-text
      [value]="registerForm.value.username"
      label="Correo electronico"
      [hasError]="registerForm.controls['username'].status === 'INVALID'"
      (valueEvent)="receiveValue('username', $event)"
      formControlName="username"
      ngDefaultControl
    ></app-input-text>
  </div>
  <div >
    <app-input-password
      [value]="registerForm.value.password"
      label="Contraseña"
      [hasError]="registerForm.controls['password'].status === 'INVALID'"
      (valueEvent)="receiveValue('password', $event)"
      [feedback]="true"
      [toggleMask]="true"
      formControlName="password"
      ngDefaultControl
    ></app-input-password>
  </div>
  <div >
    <app-input-password
      [value]="registerForm.value.confirmPassword"
      label="Confirmar contraseña"
      [hasError]="registerForm.controls['confirmPassword'].status === 'INVALID'"
      (valueEvent)="receiveValue('confirmPassword', $event)"
      [feedback]="true"
      [toggleMask]="true"
      formControlName="confirmPassword"
      ngDefaultControl
    ></app-input-password>
  </div>
  <div >
    <app-button [confirmClick]="true" label="Crear cuenta" (clickEvent)="validateForm()"></app-button>
  </div>
  <div >
    <a  [routerLink]="['/security/login']">Ingresar</a>
  </div>
</form>
