body {
    font-family: var(--font-family);
}

.card-linear-blue {
    background: linear-gradient(to bottom, var(--blue-100), var(--blue-50), var(--blue-100), var(--blue-50), var(--blue-100));
    border-radius: 7px;
    box-shadow: 0 0 5px var(--primary-color);
    color: var(--text-color);
}

.card-linear-green {
    background: linear-gradient(to bottom, var(--green-100), var(--green-50), var(--green-100), var(--green-50), var(--green-100));
    border-radius: 7px;
    box-shadow: 0 0 5px var(--primary-color);
    color: var(--text-color);
}

.card-linear-orange {
    background: linear-gradient(to bottom, var(--orange-100), var(--orange-50), var(--orange-100), var(--orange-50), var(--orange-100));
    border-radius: 7px;
    box-shadow: 0 0 5px var(--primary-color);
    color: var(--text-color);
}

.card-linear-purple {
    background: linear-gradient(to bottom, var(--purple-100), var(--purple-50), var(--purple-100), var(--purple-50), var(--purple-100));
    border-radius: 7px;
    box-shadow: 0 0 5px var(--primary-color);
    color: var(--text-color);
}

.h-1 {
    height: 8.3333%;
}

.h-2 {
    height: 16.6667%;
}

.h-3 {
    height: 25%;
}

.h-4 {
    height: 33.3333%;
}

.h-5 {
    height: 41.6667%;
}

.h-6 {
    height: 50%;
}

.h-7 {
    height: 58.3333%;
}

.h-8 {
    height: 66.6667%;
}

.h-9 {
    height: 75%;
}

.h-10 {
    height: 83.3333%;
}

.h-11 {
    height: 91.6667%;
}

.h-12 {
    height: 100%;
}

/* .h-1vh {
    height: 8.3333vh;
}

.h-2vh {
    height: 16.6667vh;
}

.h-3vh {
    height: 25vh;
}

.h-4vh {
    height: 33.3333vh;
}

.h-5vh {
    height: 41.6667vh;
}

.h-6vh {
    height: 50vh;
}

.h-7vh {
    height: 58.3333vh;
}

.h-8vh {
    height: 66.6667vh;
}

.h-9vh {
    height: 75vh;
}

.h-10vh {
    height: 83.3333vh;
}

.h-11vh {
    height: 91.6667vh;
}

.h-12vh {
    height: 100vh;
} */