.item {
    border: 1px solid var(--surface-d);
    border-radius: 7px;
    transition: border .3s;
}

.item:hover {
    border: 2px solid var(--primary-color);
}

.item-image {
    max-width: 200px;
}

::ng-deep p-carousel {
    margin: auto !important;
}