@if (isLoading()) {
  <div class="py-4 flex flex-col justify-center items-center gap-4">
    <p-skeleton width="10rem" height="8rem" />
    <p-skeleton width="5rem" />
    <p-skeleton width="10rem" />
  </div>
} @else if(categories().length == 0 && !isLoading()) {
  <div class="p-4 flex flex-col justify-center items-start gap-4">
    @if (session()?.role === 'admin' || session()?.role === 'owner') {
      <p-message icon="pi pi-exclamation-triangle" severity="warn">No tienes tiendas creadas por el momento.</p-message>
      <app-button 
        label="Crear tienda"
        icon="pi pi-plus"
        (clickEvent)="goCreateCategory()"
      />
    } @else if (session()?.role === 'client' || session()?.role === 'ghost') {
      <p class="w-full">No existen tiendas aún.</p>
    }
  </div>
} @else if(hasUnexpectedError) {
  <p-message severity="error">Ha ocurrido un error inesperado, por favor, intentelo de nuevo más tarde.</p-message>
} @else {
  <p-carousel
    [value]="items"
    [numVisible]="3"
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-item pTemplate="item">
      <a [routerLink]="['/dashboard/' + item.route]" class="!mx-4 bg-section gap-4">
        <img [src]="item.img" [alt]="item.img" class="h-40"/>
        <h3 class="text-center">{{ item.title }}</h3>
        <h4 class="text-center">{{ item.body }}</h4>
      </a>
    </ng-template>
  </p-carousel>
}