.container {
    height: calc(100vh - 160px);
}

.item {
    border: 2px solid var(--surface-d);
    border-radius: 7px;
    transition: border .5s;
}

.item:hover {
    border: 2px solid var(--primary-color);
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
}

@media screen and (max-width: 1150px) {
    .container {
        height: calc(92.8vh - 160px);
        flex-direction: column;
    }
}