<section #section class="p-5 xl:p-8 w-full container flex align-content-center justify-content-center">
  <div *ngFor="let item of items" class="w-12 my-3 xl:my-0">
    <a
      [class]="'px-3 xl:px-0 ' + itemClass"
      [routerLink]="'/dashboard/' + item.value"
    >
      <div class="xl:mb-3 xl:text-2xl">
        <p>{{ item.title }}</p>
      </div>
      <div class="text-center py-3 xl:p-0">
        <img class="w-5 xl:w-3" [src]="item.img" alt="image" />
      </div>
      <div class="xl:w-12">
        <div class="xl:w-10 xl:m-auto xl:text-lg">
          <p>{{ item.body }}</p>
        </div>
      </div>
    </a>
  </div>
</section>
