<form
  class="surface-card shadow-6 w-full h-full grid grid-nogutter justify-content-evenly align-items-start"
  [formGroup]="loginForm"
>
  <div class="col-12 text-center">
    <p class="text-2xl md:text-3xl text-color">¡Bienvenido de vuelta!</p>
  </div>
  <div class="col-10 h-3rem my-3">
    <app-input-text
      label="Correo electronico"
      icon=""
      formControlName="email"
      ngDefaultControl
    ></app-input-text>
  </div>
  <div class="col-10 h-3rem my-3">
    <app-input-password
      label="Contraseña"
      [feedback]="true"
      [toggleMask]="true"
      formControlName="password"
      ngDefaultControl
    ></app-input-password>
  </div>
  <div class="col-10 h-3rem my-3">
    <app-input-password
      label="Confirmar contraseña"
      [feedback]="true"
      [toggleMask]="true"
      formControlName="confirmPassword"
      ngDefaultControl
    ></app-input-password>
  </div>
  <div class="col-10 h-3rem">
    <app-button label="Crear cuenta" (clickEvent)="validateForm()"></app-button>
  </div>
  <div class="col-12 text-center">
    <p class="text-xs md:text-sm cursor-pointer text-color" (click)="changeView()">Ingresar</p>
  </div>
</form>
