<section class="w-full h-fit px-4 pt-4 flex flex-col gap-4 justify-center lg:flex-row lg:px-40 lg:pt-20">
    <form class="py-8 w-full bg-section gap-8 grow-0 lg:w-8/12" [formGroup]="paymentTypeForm">
      <app-button 
        class="self-start"
        icon="pi pi-arrow-left"
        [rounded]="true"
        (clickEvent)="goBack()"
      />
        <h1 class="w-full text-center">{{ title }}</h1>
        
        @if (isLoading()) {
          <app-loading-form class="w-full" />
        } @else {
          @if(paymentTypeForm.value.id != 0) {
            <app-input-number
              class="w-1/2"
              [value]="paymentTypeForm.value.id"
              label="Id"
              [isDisabled]="true"
            ></app-input-number>
          }
  
          <app-input-text
            class="w-1/2"
            [value]="paymentTypeForm.value.name"
            label="Nombre"
            [classes]="paymentTypeForm.controls['name'].invalid && paymentTypeForm.controls['name'].touched ? 'ng-invalid ng-dirty' : ''"
            errorMessage="Nombre inválido"
            (valueEvent)="receiveValue('name', $event)"
            formControlName="name"
            ngDefaultControl
          />
      
          <app-button
            [label]="buttonLabel"
            [disabled]="isWorking()"
            (clickEvent)="validateForm()"
          />
        }
    </form>
    <p-toast [life]="10000" />
</section>